@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Wix Madefor Display", sans-serif !important;
}

.main-header {
  padding: 8px 24px;
  height: 64px;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: 16px;
  align-items: center;
  position: relative;
  z-index: 999;
}

.main-logo img {
  height: 22px;
  margin-bottom: 4px;
}

.page-wrapper {
  height: 100vh;
}

.main-section {
  width: 100%;
  min-height: calc(100vh - 68px);
  display: grid;
  align-items: start;
  grid-template-columns: 72px 1fr;
  background: var(--dark-subtle);
  padding-right: 16px;
  padding-bottom: 16px;
}

.main-menu {
  display: grid;
  list-style: none;
  gap: 32px;
  padding: 0;
}
.main-menu a {
  text-decoration: none;
  display: grid;
  align-items: center;
  justify-items: center;
  color: var(--bs-tertiary-color);
  font-size: 12px;
}
.main-menu li.active a {
  color: var(--bs-primary);
}

.main-content {
  height: 100%;
  border-radius: 16px;
  padding: 24px;
  background: var(--bs-body-bg);
}

.form-check-input:checked {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
}

.avatar-2 {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  overflow: hidden;
}
.avatar-2 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-3 {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  overflow: hidden;
}
.avatar-3 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-4 {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  overflow: hidden;
}
.avatar-4 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-5 {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
}
.avatar-5 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-6 {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  overflow: hidden;
}
.avatar-6 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-7 {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  overflow: hidden;
}
.avatar-7 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-8 {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  overflow: hidden;
}
.avatar-8 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-9 {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  overflow: hidden;
}
.avatar-9 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-10 {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  overflow: hidden;
}
.avatar-10 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-img-5 {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
}
.box-img-5 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-img-6 {
  width: 48px;
  height: 48px;
  border-radius: 4.8px;
  overflow: hidden;
}
.box-img-6 img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.ic-2 {
  width: 2px;
  height: 2px;
}

.ic-4 {
  width: 4px;
  height: 4px;
}

.ic-6 {
  width: 6px;
  height: 6px;
}

.ic-8 {
  width: 8px;
  height: 8px;
}

.ic-10 {
  width: 10px;
  height: 10px;
}

.ic-12 {
  width: 12px;
  height: 12px;
}

.ic-14 {
  width: 14px;
  height: 14px;
}

.ic-16 {
  width: 16px;
  height: 16px;
}

.ic-18 {
  width: 18px;
  height: 18px;
}

.ic-20 {
  width: 20px;
  height: 20px;
}

.ic-22 {
  width: 22px;
  height: 22px;
}

.ic-24 {
  width: 24px;
  height: 24px;
}

.ic-26 {
  width: 26px;
  height: 26px;
}

.ic-28 {
  width: 28px;
  height: 28px;
}

.ic-30 {
  width: 30px;
  height: 30px;
}

.ic-32 {
  width: 32px;
  height: 32px;
}

.ic-34 {
  width: 34px;
  height: 34px;
}

.ic-36 {
  width: 36px;
  height: 36px;
}

.ic-38 {
  width: 38px;
  height: 38px;
}

.ic-40 {
  width: 40px;
  height: 40px;
}

.ic-42 {
  width: 42px;
  height: 42px;
}

.ic-44 {
  width: 44px;
  height: 44px;
}

.ic-46 {
  width: 46px;
  height: 46px;
}

.ic-48 {
  width: 48px;
  height: 48px;
}

.ic-50 {
  width: 50px;
  height: 50px;
}

.ic-52 {
  width: 52px;
  height: 52px;
}

.ic-54 {
  width: 54px;
  height: 54px;
}

.ic-56 {
  width: 56px;
  height: 56px;
}

.ic-58 {
  width: 58px;
  height: 58px;
}

.g-col {
  display: grid;
  grid-auto-flow: column;
}

.auto-fr {
  display: grid;
  grid-template-columns: auto 1fr;
}

.fr-auto {
  display: grid;
  grid-template-columns: 1fr auto;
}

.auto-auto {
  display: grid;
  grid-template-columns: auto auto;
}

.fr-fr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.auto-auto-auto {
  display: grid;
  grid-template-columns: auto auto auto;
}

.auto-fr-auto {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.row-auto-auto-fr {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.row-auto-fr {
  display: grid;
  grid-template-rows: auto 1fr;
}

.row-fr-auto {
  display: grid;
  grid-template-rows: 1fr auto;
}

.row-fr-fr {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.row-auto-fr-auto {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.g-v-middle, .g-middle {
  display: grid;
  align-items: center;
}

.g-h-middle, .g-middle {
  display: grid;
  justify-content: center;
}

.place-items-center {
  place-items: center;
}

.row-auto-fr {
  grid-template-rows: auto 1fr;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-self: center;
}

.justify-space-between {
  justify-content: space-between;
}

.f-1 {
  font-size: 1px !important;
}

.f-2 {
  font-size: 2px !important;
}

.f-3 {
  font-size: 3px !important;
}

.f-4 {
  font-size: 4px !important;
}

.f-5 {
  font-size: 5px !important;
}

.f-6 {
  font-size: 6px !important;
}

.f-7 {
  font-size: 7px !important;
}

.f-8 {
  font-size: 8px !important;
}

.f-9 {
  font-size: 9px !important;
}

.f-10 {
  font-size: 10px !important;
}

.f-11 {
  font-size: 11px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-17 {
  font-size: 17px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-19 {
  font-size: 19px !important;
}

.f-20 {
  font-size: 20px !important;
}

.l-1 {
  line-height: 1px !important;
}

.rm-mb .mob-l-1 {
  line-height: 1px !important;
}

.rm-tab .tab-l-1 {
  line-height: 1px !important;
}

.l-2 {
  line-height: 2px !important;
}

.rm-mb .mob-l-2 {
  line-height: 2px !important;
}

.rm-tab .tab-l-2 {
  line-height: 2px !important;
}

.l-3 {
  line-height: 3px !important;
}

.rm-mb .mob-l-3 {
  line-height: 3px !important;
}

.rm-tab .tab-l-3 {
  line-height: 3px !important;
}

.l-4 {
  line-height: 4px !important;
}

.rm-mb .mob-l-4 {
  line-height: 4px !important;
}

.rm-tab .tab-l-4 {
  line-height: 4px !important;
}

.l-5 {
  line-height: 5px !important;
}

.rm-mb .mob-l-5 {
  line-height: 5px !important;
}

.rm-tab .tab-l-5 {
  line-height: 5px !important;
}

.l-6 {
  line-height: 6px !important;
}

.rm-mb .mob-l-6 {
  line-height: 6px !important;
}

.rm-tab .tab-l-6 {
  line-height: 6px !important;
}

.l-7 {
  line-height: 7px !important;
}

.rm-mb .mob-l-7 {
  line-height: 7px !important;
}

.rm-tab .tab-l-7 {
  line-height: 7px !important;
}

.l-8 {
  line-height: 8px !important;
}

.rm-mb .mob-l-8 {
  line-height: 8px !important;
}

.rm-tab .tab-l-8 {
  line-height: 8px !important;
}

.l-9 {
  line-height: 9px !important;
}

.rm-mb .mob-l-9 {
  line-height: 9px !important;
}

.rm-tab .tab-l-9 {
  line-height: 9px !important;
}

.l-10 {
  line-height: 10px !important;
}

.rm-mb .mob-l-10 {
  line-height: 10px !important;
}

.rm-tab .tab-l-10 {
  line-height: 10px !important;
}

.l-11 {
  line-height: 11px !important;
}

.rm-mb .mob-l-11 {
  line-height: 11px !important;
}

.rm-tab .tab-l-11 {
  line-height: 11px !important;
}

.l-12 {
  line-height: 12px !important;
}

.rm-mb .mob-l-12 {
  line-height: 12px !important;
}

.rm-tab .tab-l-12 {
  line-height: 12px !important;
}

.l-13 {
  line-height: 13px !important;
}

.rm-mb .mob-l-13 {
  line-height: 13px !important;
}

.rm-tab .tab-l-13 {
  line-height: 13px !important;
}

.l-14 {
  line-height: 14px !important;
}

.rm-mb .mob-l-14 {
  line-height: 14px !important;
}

.rm-tab .tab-l-14 {
  line-height: 14px !important;
}

.l-15 {
  line-height: 15px !important;
}

.rm-mb .mob-l-15 {
  line-height: 15px !important;
}

.rm-tab .tab-l-15 {
  line-height: 15px !important;
}

.l-16 {
  line-height: 16px !important;
}

.rm-mb .mob-l-16 {
  line-height: 16px !important;
}

.rm-tab .tab-l-16 {
  line-height: 16px !important;
}

.l-17 {
  line-height: 17px !important;
}

.rm-mb .mob-l-17 {
  line-height: 17px !important;
}

.rm-tab .tab-l-17 {
  line-height: 17px !important;
}

.l-18 {
  line-height: 18px !important;
}

.rm-mb .mob-l-18 {
  line-height: 18px !important;
}

.rm-tab .tab-l-18 {
  line-height: 18px !important;
}

.l-19 {
  line-height: 19px !important;
}

.rm-mb .mob-l-19 {
  line-height: 19px !important;
}

.rm-tab .tab-l-19 {
  line-height: 19px !important;
}

.l-20 {
  line-height: 20px !important;
}

.rm-mb .mob-l-20 {
  line-height: 20px !important;
}

.rm-tab .tab-l-20 {
  line-height: 20px !important;
}

.l-21 {
  line-height: 21px !important;
}

.rm-mb .mob-l-21 {
  line-height: 21px !important;
}

.rm-tab .tab-l-21 {
  line-height: 21px !important;
}

.l-22 {
  line-height: 22px !important;
}

.rm-mb .mob-l-22 {
  line-height: 22px !important;
}

.rm-tab .tab-l-22 {
  line-height: 22px !important;
}

.l-23 {
  line-height: 23px !important;
}

.rm-mb .mob-l-23 {
  line-height: 23px !important;
}

.rm-tab .tab-l-23 {
  line-height: 23px !important;
}

.l-24 {
  line-height: 24px !important;
}

.rm-mb .mob-l-24 {
  line-height: 24px !important;
}

.rm-tab .tab-l-24 {
  line-height: 24px !important;
}

.l-25 {
  line-height: 25px !important;
}

.rm-mb .mob-l-25 {
  line-height: 25px !important;
}

.rm-tab .tab-l-25 {
  line-height: 25px !important;
}

.l-26 {
  line-height: 26px !important;
}

.rm-mb .mob-l-26 {
  line-height: 26px !important;
}

.rm-tab .tab-l-26 {
  line-height: 26px !important;
}

.l-27 {
  line-height: 27px !important;
}

.rm-mb .mob-l-27 {
  line-height: 27px !important;
}

.rm-tab .tab-l-27 {
  line-height: 27px !important;
}

.l-28 {
  line-height: 28px !important;
}

.rm-mb .mob-l-28 {
  line-height: 28px !important;
}

.rm-tab .tab-l-28 {
  line-height: 28px !important;
}

.l-29 {
  line-height: 29px !important;
}

.rm-mb .mob-l-29 {
  line-height: 29px !important;
}

.rm-tab .tab-l-29 {
  line-height: 29px !important;
}

.l-30 {
  line-height: 30px !important;
}

.rm-mb .mob-l-30 {
  line-height: 30px !important;
}

.rm-tab .tab-l-30 {
  line-height: 30px !important;
}

.l-31 {
  line-height: 31px !important;
}

.rm-mb .mob-l-31 {
  line-height: 31px !important;
}

.rm-tab .tab-l-31 {
  line-height: 31px !important;
}

.l-32 {
  line-height: 32px !important;
}

.rm-mb .mob-l-32 {
  line-height: 32px !important;
}

.rm-tab .tab-l-32 {
  line-height: 32px !important;
}

.l-33 {
  line-height: 33px !important;
}

.rm-mb .mob-l-33 {
  line-height: 33px !important;
}

.rm-tab .tab-l-33 {
  line-height: 33px !important;
}

.l-34 {
  line-height: 34px !important;
}

.rm-mb .mob-l-34 {
  line-height: 34px !important;
}

.rm-tab .tab-l-34 {
  line-height: 34px !important;
}

.l-35 {
  line-height: 35px !important;
}

.rm-mb .mob-l-35 {
  line-height: 35px !important;
}

.rm-tab .tab-l-35 {
  line-height: 35px !important;
}

.l-36 {
  line-height: 36px !important;
}

.rm-mb .mob-l-36 {
  line-height: 36px !important;
}

.rm-tab .tab-l-36 {
  line-height: 36px !important;
}

.l-37 {
  line-height: 37px !important;
}

.rm-mb .mob-l-37 {
  line-height: 37px !important;
}

.rm-tab .tab-l-37 {
  line-height: 37px !important;
}

.l-38 {
  line-height: 38px !important;
}

.rm-mb .mob-l-38 {
  line-height: 38px !important;
}

.rm-tab .tab-l-38 {
  line-height: 38px !important;
}

.l-39 {
  line-height: 39px !important;
}

.rm-mb .mob-l-39 {
  line-height: 39px !important;
}

.rm-tab .tab-l-39 {
  line-height: 39px !important;
}

.l-40 {
  line-height: 40px !important;
}

.rm-mb .mob-l-40 {
  line-height: 40px !important;
}

.rm-tab .tab-l-40 {
  line-height: 40px !important;
}

.lp-1 {
  letter-spacing: calc(1px / 2) !important;
}

.lp-n1 {
  letter-spacing: -calc(1px/2) !important;
}

.lp-2 {
  letter-spacing: calc(2px / 2) !important;
}

.lp-n2 {
  letter-spacing: -calc(2px/2) !important;
}

.lp-3 {
  letter-spacing: calc(3px / 2) !important;
}

.lp-n3 {
  letter-spacing: -calc(3px/2) !important;
}

.lp-4 {
  letter-spacing: calc(4px / 2) !important;
}

.lp-n4 {
  letter-spacing: -calc(4px/2) !important;
}

.lp-5 {
  letter-spacing: calc(5px / 2) !important;
}

.lp-n5 {
  letter-spacing: -calc(5px/2) !important;
}

.text-two-line {
  line-height: 1rem;
  font-weight: 500;
  max-height: 4rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.slide-left {
  animation: slide-left 20s linear infinite;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
p {
  margin-bottom: 0 !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 600;
}

.rounded-pills.sm .nav-link {
  border-radius: 100px;
  padding: 4px 16px;
  font-size: 14px;
}

.btn-icon-sm {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  padding: 0;
  display: grid;
  place-content: center;
}

.btn-icon-md {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 0;
  display: grid;
  place-content: center;
}

.btn-icon-lg {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  padding: 0;
  display: grid;
  place-content: center;
}

.btn-auto-fr {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
}

.w-100px {
  width: 100px;
}

.w-110 {
  width: 110px;
}

.w-200 {
  width: 200px;
}

.w-150 {
  max-width: 150px;
}

.w-300 {
  max-width: 300px;
}

.w-1320 {
  max-width: 1320px;
}

.w-420 {
  display: grid;
  grid-template-columns: minmax(0, 420px);
}

.w-360 {
  display: grid;
  grid-template-columns: minmax(0, 360px);
}

.w-600 {
  display: grid;
  grid-template-columns: minmax(0, 600px);
}

.w-max-600 {
  max-width: 600px;
  width: 100%;
}

.w-1280 {
  display: grid;
  grid-template-columns: minmax(0, 1280px);
  justify-content: center;
}

.full-height {
  height: var(--vh-100);
}

.box-16_9 {
  aspect-ratio: 16/9;
  width: 100%;
  background-size: cover;
}

.box-9_16 {
  aspect-ratio: 9/16;
  width: 100%;
  background-size: cover;
}

.box-4_3 {
  aspect-ratio: 4/3;
  width: 100%;
  background-size: cover;
}

.box-1_1 {
  aspect-ratio: 1/1;
  width: 100%;
  background-size: cover;
}

.white-container {
  border-radius: 8px;
  background: var(--white);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}

.box-style {
  background-color: var(--bs-dark-bg-subtle) !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.box-style-inner {
  background-color: var(--bs-dark-bg-subtle) !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.box-style-2 {
  background-color: var(--bs-dark-bg-subtle) !important;
}

.rounded-chips {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  justify-content: start;
}
.rounded-chips li {
  list-style: none;
}
.rounded-chips li a {
  padding: 4px 12px;
  border-radius: 100px;
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  border: 1px solid var(--bs-dark-border-subtle);
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  display: grid;
  place-content: center;
  cursor: pointer;
  height: 28px;
}
.rounded-chips li.active a {
  background: var(--bs-primary);
  color: var(--bs-emphasis-color);
}
.rounded-chips li:hover a {
  background: var(--bs-secondary-bg);
}

.search-box, .search-style-1, .search-style {
  position: relative;
}
.search-box input, .search-style-1 input, .search-style input {
  border-radius: 100px;
  padding-left: 50px;
}
.search-box .icon-container, .search-style-1 .icon-container, .search-style .icon-container {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

.search-style {
  max-width: 200px;
}

.search-style-1 {
  max-width: 300px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--bs-primary);
}

.h-100-auto {
  overflow: auto;
  height: 100%;
}

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 240px;
  gap: 16px;
}

.page-dashboard {
  display: grid;
  grid-template-rows: auto 260px 1fr;
  gap: 16px;
  min-height: 800px;
  overflow: auto;
}

.player-bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  position: relative;
}

.player-content {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
  color: var(--white);
  padding: 8px;
  border-radius: 0 0 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  padding-top: 16px;
}

.playing-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
}

.page-studio {
  display: grid;
  grid-template-rows: auto 1fr 220px;
  gap: 16px;
  min-height: 800px;
  overflow: auto;
  height: calc(100vh - 80px);
}

.studio-main {
  display: grid;
  grid-template-columns: 2fr minmax(260px, 1fr) 1fr minmax(260px, 1fr);
  gap: 8px;
}

.volume-control {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  height: 100%;
}
.volume-control div {
  border-radius: 8px;
}

.quick-play {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-auto-rows: 60px;
  gap: 4px;
}
.quick-play div {
  border-radius: 8px;
  display: grid;
  justify-items: center;
  cursor: pointer;
  padding: 4px;
  align-items: center;
}

.users-avatar-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
  gap: 8px 12px;
  align-items: start;
  align-content: start;
}

.user-avatar-item {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 4px;
  background: var(--bs-body-bg);
  padding: 8px;
  border-radius: 10px;
}
.user-avatar-item .avatar-9 {
  margin: auto;
}
.user-avatar-item.speaking .avatar-9 {
  border: 3px solid var(--bs-primary);
}

.live-actions-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  padding: 4px;
  display: grid;
  grid-auto-flow: column;
  gap: 6px;
  display: none;
}
.live-actions-wrapper a {
  display: grid;
  place-items: center;
  color: var(--bs-body-color);
  cursor: pointer;
}
.live-actions-wrapper a.disabled {
  color: var(--bs-tertiary-color);
}
.live-actions-wrapper a.muted {
  color: var(--bs-danger);
}
.live-actions-wrapper a.active {
  color: var(--bs-danger);
}
.live-actions-wrapper a svg {
  width: 22px;
  height: 22px;
}

.user-avatar-item:hover .live-actions-wrapper {
  display: grid;
}

.chat-bottom {
  height: 48px;
  background: var(--bs-secondary-bg-subtle);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2px;
  padding: 2px 8px 2px 4px;
  align-items: center;
}
.chat-bottom input {
  border: 0 !important;
  background: transparent;
  padding: 0;
  font-size: 14px;
}

.messages {
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
  display: grid;
  gap: 4px;
  height: 100%;
  align-items: start;
}
.messages .time {
  font-size: 0.8rem;
  padding: 0.25rem 1rem;
  border-radius: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.messages .message {
  box-sizing: border-box;
  padding: 6px 12px;
  background: var(--bs-dark-bg-subtle);
  border-radius: 4px;
  min-height: 2.25rem;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  font-size: 14px;
}
.messages .message.sender {
  color: white;
  justify-self: end;
  background: #000;
}
.messages .message .typing {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0rem;
  box-sizing: border-box;
  background: #ccc;
  border-radius: 50%;
}
.messages .message .typing.typing-1 {
  animation: typing 3s infinite;
}
.messages .message .typing.typing-2 {
  animation: typing 3s 250ms infinite;
}
.messages .message .typing.typing-3 {
  animation: typing 3s 500ms infinite;
}

@keyframes typing {
  0%, 75%, 100% {
    transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}
.library-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 24px;
  justify-items: center;
}

.auth-container {
  display: grid;
  grid-template-columns: minmax(0, 480px) 1fr;
}

.a-left-side {
  height: 100%;
  background: var(--bs-body-bg);
  position: relative;
}
.a-left-side .carousel-item {
  height: 100vh;
}
.a-left-side .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

.a-left-side-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  align-content: end;
  padding: 24px 24px 64px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.auth-content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
  padding: 24px;
  overflow: auto;
  height: 100%;
}
.auth-content header {
  display: grid;
  grid-template-columns: 200px 1fr auto;
}
.auth-content .main-logo img {
  height: 26px;
  margin: 0;
}

.auth-content-wrapper {
  align-items: center;
  display: grid;
  align-content: center;
  justify-content: center;
}

.auth-content-inner {
  align-items: center;
  display: grid;
  align-content: center;
  grid-template-columns: minmax(0, 480px);
  gap: 4px;
}

.divider {
  margin: 30px 0;
  overflow: visible;
  border: none;
  border-top: 1px solid var(--bs-border-color);
  color: var(--bs-emphasis-color);
  text-align: center;
  position: relative;
}
.divider:after {
  content: "Or";
  display: inline-block;
  position: absolute;
  top: -15px;
  padding: 0 16px;
  background: var(--bs-body-bg);
  color: var(--bs-emphasis-color);
  left: calc(50% - 25px);
}

.social-btns {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
}/*# sourceMappingURL=style.css.map */