.library-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 24px;
    justify-items: center;
}

.time {
    background: rgba(#000, 0.8);
    color: var(--bs-light);
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-weight: 600;
    padding: 2px 4px;
}

.audio-cover-photo {
    img {
        border-radius: 10px;
    }
}

.folder-bottom {
    bottom: 0;
    padding: 8px 8px 4px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: grid;
    border-radius: 0 0 8px 8px;
    display: grid;
}

.folder-inside-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.overlay-container, .audio-play-options {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    border-radius: 8px;
}

.is-playing-show {
    grid-template-rows: auto 1fr auto !important;
}

.player-bottom {
    background: #000;
    padding: 8px 16px;
    display: grid;
    grid-template-columns: minmax(0,300px)auto 1fr auto;
    gap: 16px;
    align-items: center;
}

.player-left {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 8px;
    align-items: center;
}

.playback-bar {
    align-items: center;
    span {
        font-size: 12px;
    }

    .progress {
        height: 6px;
    }
}

.audio-play-options, .audio-file-more {
    display: none;
}

.audio-list-bottom {
    display: grid;
}

.audio-list {
    &:hover {
        .audio-play-options, .audio-file-more {
            display: grid;
        }

        .audio-list-bottom {
            grid-template-columns: 1fr auto;
            gap: 4px;
            align-items: center;
        }
    }
}

.file-upload-container {
    border: 1px dashed var(--bs-secondary);
    border-radius: 10px;
    padding: 24px;
    display: grid;
    justify-items: center;
    gap: 16px;
}


.file-uploading-container {
    width: 380px;
    min-height: 300px;
    max-height: 60vh;
    background: #000;
    position: fixed;
    bottom: 80px;
    right: 36px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.fuc-heading {
    padding: 12px 8px 12px 16px;
}

.fuc-content-wrapper {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 8px;
    overflow: auto;
    height: 100%;
    grid-auto-rows: max-content;
}

.fuc-items {
    display: grid;
    grid-template-columns: 40px 1fr auto;
    gap: 8px;
    padding: 0 8px;
    align-items: center;
    .progress {
        height: 4px;
    }
}

.fuc-content {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 8px;
    align-items: center;
    padding-bottom: 8px;
}