// nav-pills

.rounded-chips {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    margin: 0;
    padding: 0;
    justify-content: start;

    li {
        list-style: none;
        a {
            padding: 4px 12px;
            border-radius: 100px;
            background: var(--bs-body-bg);
            color: var(--bs-body-color);
            border: 1px solid var(--bs-dark-border-subtle);
            text-decoration: none;
            font-size: 13px;
            font-weight: 500;
            display: grid;
            place-content: center;
            cursor: pointer;
            height: 28px;
        }
        &.active {
            a {
                background: var(--bs-primary);
                color: var(--bs-emphasis-color);
            }
        }

        &:hover {
            a {
                background: var(--bs-secondary-bg);
            }
        }
    }
}