.main-header {
    padding: 8px 24px;
    height: 64px;
    display:grid;
    grid-template-columns: auto auto 1fr;
    gap: 16px;
    align-items: center;
}

.main-logo {
    img {
        height: 40px;
    }
}

